@font-face {
    font-family: interstateRegular;
    src: url('../fonts/InterstateRegular.ttf');
}
@font-face {
    font-family: interstateBold;
    src: url('../fonts/InterstateBold.ttf');
}
@font-face {
    font-family: interstateLight;
    src: url('../fonts/InterstateLight.ttf');
}
@font-face {
    font-family: interstateBlack;
    src: url('../fonts/InterstateBlack.ttf');
}




body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	font-weight: 200;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}    
h1,
h2,
h4,
h5,{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bolder;
	letter-spacing: 1px;
}

.header{
    position: fixed;
    height: 50px;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.nav-up {
    top: -40px;
}


.navbar-default{
	background-color: #111842 !important;
	border-color: transparent;
}

.navbar-inverse{
		background-color: #111842;
		border-color: transparent;
		position: inherit;
		margin-bottom: 0;
}		
.nav-bottom > li > a{
	font-family: 'Source Sans Pro', sans-serif;

    font-size: 1.2em;
	color: red !important;
}

.main-menu-items > li > a {
	    color: white !important;
		font-size: 1.6em;
}


.nav-top{
	width: 90%;
    font-family: 'Source Sans Pro', sans-serif;
	text-align: right;
}

.search{
	background-color: transparent;
    border-color: transparent;
    font-size: 1.2em;
    color: red;
    font-size: 1.5em;
}

.buscar{
	width: 100px;
    height: 25px;
}

.logo img{
	margin-top: -14%;
    margin-left: 26%;
    margin-bottom: 5%;
}

#nav-logo{
	float: left;
	width: 150px;
	padding-top: 10px;
}

.navscroll{
	background-color: rgba(17, 24, 66, 0.84) !important;
}

.tel{
	text-align: right;
	margin-right: 0% !important;
	padding: 0;
}

#tel{
	padding: 1% 0;
}

.title-form{
	font-weight: bold;
	color: #111842;
}

#language{
	color: rgba(245, 245, 245, 0.71);
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 30px;
}
/* queries for mobile */


@media only screen and (max-width: 768px){
	.nav-bottom{
		display: none;
	}

	.navbar-inverse .main-menu-items > li > a{
		font-size: 1.2em;
		padding-left: 11px;
		line-height: 8px;
	}
    .logo{
    	padding-left: 5%;
    }

    .usa{
    	display: none;
    }

	.logo img{
	    margin-top: 0%;
	    margin-left: 3%;
	    margin-bottom: 0%;
	}

	.nav-top{
		text-align: left !important;
		margin: 0;
		padding: 9px;
	}

	#phones{
		margin-right: 1%;
		padding: 0% 1%;
		text-align: right;
		font-size: .8em;
		float: none;
	}

	.phone-2{				
		line-height: 0px;
	}
	#tel{
      padding: 5% 0;
      font-size: .8em;
      float: right;
	}


	.search-eng{
	  width: 100% !important;
	  padding: 8%;
	  box-shadow: 1px 1px 6px #888888;
    }

    #big-circle{
    	padding: 34% 0 !important;
    	font-size: 1em;
    	width: 75%;
    }

    .promos{
    	text-align: center;
    }
    

    #half-color{
		background: linear-gradient(to bottom, #111842 95%, white 5%)!important;
		margin-bottom: 8em;

    }

    #icon-prev{
    	margin-left: 0;
    }

    #icon-next{
    	margin-right: 0;
    }
  
	.autos-1{
		display: none;
		background-image: none !important;
	}
    
    #lil-price{

    }
	
	#circle{

    width: 15%;
    height: 14vw;
    border: transparent;
    margin-left: -9%;
	}

	#locations{
    margin-left: 6%;
    font-size: 8vw;
	}

	.footer-menu{
	  font-size: 1em !important;
	}

	#yellow-text a{
		font-size: 1.5em !important;
	}

	#footer-bottom{
		padding-bottom: 15% !important;
    }

    #price{
    	font-size: 2em;
    }

   

    .circle {
    	display: none;

    }

    #circle-1{
    	display: none;
    }

    #orange-bg{
    	padding: 2% 0 5% 8%;
    	margin-bottom: 10%;
    }
    #blue-bg{
    	padding: 2% 0 5% 8%;
    	margin-bottom: 10%;
    }
    #green-bg{
    	padding: 2% 0 5% 8%;
    	margin-bottom: 10%;
    }

}

@media only screen and (max-width: 1199px) and (min-width: 992px){
	#lil-price{
		font-size: 1em;
	}

	#lil-big-circle{
		font-size: 1.2em;
	}

	#circle-1{
		display: none;
	}
}


@media only screen and (max-width: 500px) and (min-width: 300px){
	
	.col-mob-1{
	    margin: 10%;
	    padding-bottom: 20%;
	}

	#lil-price{
		font-size: 1em;
	}

	#lil-big-circle{
		font-size: 1.2em;
	}

	#big-circle{
		width: 80%;
	}
}

@media only screen and (max-width: 600px) and (min-width: 501px){
	
	.col-mob-1{
		margin: 20% !important;
	    margin-top: 0% !important;
	}
	#lil-price{
		font-size: 1.1em;
	}
}

@media only screen and (max-width: 767px) and (min-width: 601px){
	

	.col-mob-1{
		margin: 20% !important;	
        margin-top: 0% !important;
	}
}


@media only screen and (max-width: 1464px) and (min-width: 767px){
  .navbar-inverse .main-menu-items > li > a {
	font-size: 1.5em;
    padding-left: 1vw;
  }
  .orange{
    	padding: 36% 0 !important;
    }

    #circle-1{
    	display: none;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px){
  .half-color{
		background: linear-gradient(to bottom, #111842 95%, white 5%)!important;
		margin-bottom: 8em;

    }

    #price{
    	font-size: 3em;
    }
    #side-car{
    	width: 80% ;
    }

    #big-circle{
    	font-size: 1em;
    }

    #lil-price{
		width: 50%;
	    font-size: 1em;
	    padding: 20% 0;
	}

	#lil-big-circle{
		padding: 27% 0;
		font-size: 1.1em;
		line-height: 1;
	}

	.search-eng{
		width: 100%;
	}
}	


/* general */

h1{
	font-size: 3em;
	color: #333333
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.phones{
	color: #FFDA00;
	font-size: 1.7em;
	font-family: 'Source Sans Pro', sans-serif;
	display: inline-block;
	padding: 10px;
	margin-bottom: 0px;
}


.half-color{
	background: linear-gradient(to bottom, #111842 75%, white 25%);
	margin-bottom: 8em;

}	
	.search-eng{
	  background-color: white;
	  padding: 20px;
    }
    .top-content{
    	padding-top:2%;
    }

    .catch-eye{
	  color: white;
	  font-size: 3em;
	  padding-left: 10%;
	}  

	  .brand-txt{
	  	color: #FFDA00;
	  	font-weight: 700;
	  }
    

    .march img{
    	width: 90%
    }

    
   


.blue-title{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 3em;
	font-weight: 900;
	color: #111842;
	padding-top: 5%;
	padding-bottom: 5%;
	
}


/* form */


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(25, 30, 190, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(25, 30, 190, 0.5);
  outline: 0 none;
}



input[type="checkbox"]{
	width: 25px;
}

.btn-info {
    color: white;
    width: 100%;
    height: 50px;
    background-color: red;
    border-color: white;
}

.btn-info:hover {
    color: white;
    background-color: red;
    border-color: white;
}

.input-group{
  padding-top: 3%;
  font-size: 1.3em;
}

#smol{
	width: 40%;
	display: inline;
	margin-right: 10px;
}




/* promo area */

.gray{
	background-color: #f2f2f2;

	background-repeat: no-repeat;
	background-size: cover;
}	
	.promo{
		padding-top: 5%;
	}
	.price{
	    width: 30%;
	    z-index: 2;
	    border-radius: 50%;
	    text-align: center;
	    font-size: 4em;
	    padding: 15% 0;
	    line-height: 0;
	    position: relative;
	    background: #111842;
	    color: white;
	}

	.orange{    
		width: 80%;
	    z-index: 0;
	    border-radius: 50%;
	    text-align: center;
	    font-size: 2em;
	    padding: 38% 0;
	    line-height: 30px;
	    position: relative;
	    background: #faa21b;
	    color: white;
	    margin-left: 15%;
	    margin-top: -25%;
	  
	}

	.march-1{
	        position: relative;
	    margin-top: -25%;
	    margin-left: 20%;
}
	}

	.march-1 img{
	    width: 80%;
	    margin-left: 10%;
	}

	.promos{
		padding-bottom: 10%;
	}

	.info{
		background-color: #FFA300;
	    color: white;
	    font-size: 1.5em;
	    border: none;
	    padding: 20px;
	    line-height: 12px;
	}

	.blue{
	  width: 80%;
	    z-index: 0;
	    border-radius: 50%;
	    text-align: center;
	    font-size: 2em;
	    padding: 38% 0;
	    line-height: 30px;
	    position: relative;
	    background: #00AAE4;
	    color: white;
	    margin-left: 15%;
	    margin-top: -25%;
    }
	.jeep{
		    position: relative;
	    margin-top: -25%;
	    margin-left: 20%;
}
	}

	.jeep img{
      width: 80%;
      margin-left: 10%;
	}

	.info-1{
		background-color: #00aae4;
	    color: white;
	    font-size: 1.5em;
	    border: none;
	    padding: 20px;
	    line-height: 12px;
	}

	.green{
	  width: 80%;
	    z-index: 0;
	    border-radius: 50%;
	    text-align: center;
	    font-size: 2em;
	    padding: 38% 0;
	    line-height: 30px;
	    position: relative;
	    background: #009E16;
	    color: white;
	    margin-left: 15%;
	    margin-top: -25%;
    }
	.yaris{
		    position: relative;
	    margin-top: -25%;
	    margin-left: 20%;
}
	}

	.yaris img{
      width: 80%;
      margin-left: 10%;
	}

	.info-2{
		background-color: #009E16;
	    color: white;
	    font-size: 1.5em;
	    border: none;
	    padding: 20px;
	    line-height: 12px;
	}

#orange-bg{
	background-image: url('../images/fondos/yellow-bg.png');
	  background-size: cover;
	  background-repeat: no-repeat;

}

#blue-bg{
	background-image: url('../images/fondos/blue-bg.png');
	  background-size: cover;
	  background-repeat: no-repeat;

}

#green-bg{
	background-image: url('../images/fondos/green-bg.png');
	  background-size: cover;
	  background-repeat: no-repeat;

}
#circle-1{
    width: 21%;
    height: 19vw;
    position: absolute;
    border: transparent;
    margin-left: -12%;
    margin-top: 2%;
    /* border-width: 200px; */
    border-radius: 50%;
    background-color: #00aae4;
}





/*carousel */

.content-area {
	position: relative;
	margin: 0 auto;
	width: 100%;
	}
		.carousel-indicators li { 
			border-radius: 50%; 
			height: 15px;
			width: 15px;
		}
		.carousel-indicators .active {
			height: 18px;
			width: 18px;


		}

		.carousel-control.right{
			background-image: none;
		}

		.carousel-control.left{
			background-image: none;
		}

		.carousel-control .icon-prev{
		    margin-left: -100%;
		    color: grey;
		}
		.carousel-control .icon-prev:before {
		    content: '<'
		}    
		.carousel-control .icon-next{
		    margin-right: -100%;
		    color: grey;
		}
		.carousel-control .icon-next:before {
		    content: '>'
		} 
		


/* Autos */

.autos{
	height: 600px;

	background-repeat: no-repeat;
	background-size: cover;
}		

		.carousel-1{
			display: none;
		}
		.lil-price{
			    width: 40%;
			    z-index: 2;
			    border-radius: 55%;
			    text-align: center;
			    font-size: 1.5em;
			    padding: 14% 0;
			    line-height: 1;
			    position: relative;
			    background: #111842;
			    color: white;
		}

		.lil-orange{
		        width: 72%;
			    z-index: 0;
			    border-radius: 50%;
			    text-align: center;
			    font-size: 1.8em;
			    line-height: 1;
			    padding: 27% 0;
			    position: relative;
			    background: #FAA21B;
			    color: white;
			    margin-left: 19%;
			    margin-top: -25%;
	  
		}

		.lil-march-1{
			position: relative;
			margin-top: -20%;
		}

		.lil-march-1 img{
		    width: 80%;
		    margin-left: 10%;
		}

		.lil-blue{
		    width: 72%;
			    z-index: 0;
			    border-radius: 50%;
			    text-align: center;
			    font-size: 1.8em;
			    padding: 27% 0;
			    line-height: 1;
			    position: relative;
			    background: #00aae4;
			    color: white;
			    margin-left: 19%;
			    margin-top: -25%;
		  
		}

		.lil-jeep{
			position: relative;
			margin-top: -20%;
		}

		.lil-jeep img{
		    width: 80%;
		    margin-left: 10%;
		}


		.lil-green{
		   width: 72%;
			    z-index: 0;
			    border-radius: 50%;
			    text-align: center;
			    font-size: 1.8em;
			    padding: 27% 0;
			    line-height: 1;
			    position: relative;
			    background: #009E16;
			    color: white;
			    margin-left: 19%;
			    margin-top: -25%;
		  
		}

		.lil-yaris{
			position: relative;
			margin-top: -20%;
		}

		.lil-yaris img{
		    width: 80%;
		    margin-left: 10%;
		}


        

.img-responsive{
	filter: gray;
}



#blue-sm{

  background-image: url('../images/fondos/blue-sm.png');
  background-size: cover;
  background-repeat: no-repeat;
}  



#orange-sm{

  background-image: url('../images/fondos/yellow-sm.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5%;
}


#green-sm{

  background-image: url('../images/fondos/green-sm.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5%;
}

/* mapas */

.circle{

    width: 8vw;
    height: 8vw;
    border: transparent;
    position: absolute;
    margin-left: -5%;
    border-width: 200px;
    border-radius: 0 50% 50% 0;
    background-color: #00aae4;
}

.mapa{
	max-height: 150px;
}

.locations{
	font-family: 'Sourse Sans Pro', sans-serif;
	font-size: 3em;
	font-weight: 900;
}


.maps iframe{
    pointer-events: none;
}


	#maps{
		width: 100%;
		height: 500px;
	}

/* Footer */
.foot{
	width: 80%;
}
#footer{
	background-color: #111842;
	background-repeat: no-repeat;
	background-size: cover;

}
p a{
	color: white;
}
.footer-menu {
  padding-top: 6%;
  color: white;
  font-size: 14pt;
  margin: 0px 0 3px;
}

#yellow-text a{
	color: #FFDA00;
	font-size: 17pt;
	font-weight: 500;
}

#yellow-text{
	color: #FFDA00;
	font-size: 17pt;
	font-weight: 500;
}

#footer-bottom{
	padding-bottom: 5%;
}

.right{
	color: white;
	font-size: 18px;
	padding-top: 15%;
}

.fa-stack{
    padding-top: 12%;
    color: white;
}


.fa-stack a{
    padding-top: 12%;
    color: white;
}








