@font-face {
    font-family: interstateRegular;
    src: url('../fonts/InterstateRegular.ttf');
}
@font-face {
    font-family: interstateBold;
    src: url('../fonts/InterstateBold.ttf');
}
@font-face {
    font-family: interstateLight;
    src: url('../fonts/InterstateLight.ttf');
}
@font-face {
    font-family: interstateBlack;
    src: url('../fonts/InterstateBlack.ttf');
}




body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	font-weight: 200;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}    
h1,
h2,
h3,
h4,
h5,{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bolder;
	letter-spacing: 1px;
}

.header{
    position: fixed;
    height: 50px;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.nav-up {
    top: -40px;
}


.navbar-default{
	background-color: #111842 !important;
	border-color: transparent;
}

.navbar-inverse{
		background-color: #111842;
		border-color: transparent;
		position: inherit;
		margin-bottom: 0;
}		
.nav-bottom > li > a{
	font-family: 'Source Sans Pro', sans-serif;

    font-size: 1.2em;
	color: red !important;
}

.main-menu-items > li > a {
	    color: white !important;
		font-size: 1.6em;
}


.nav-top{
	width: 90%;
    font-family: 'Source Sans Pro', sans-serif;
	text-align: right;
}

.search{
	background-color: transparent;
    border-color: transparent;
    font-size: 1.2em;
    color: red;
    font-size: 1.5em;
}

.buscar{
	width: 100px;
    height: 25px;
}

.logo img{
	margin-top: -14%;
    margin-left: 26%;
    margin-bottom: 5%;
}

#nav-logo{
	float: left;
	width: 150px;
	padding-top: 10px;
}

.navscroll{
	background-color: rgba(17, 24, 66, 0.84) !important;
}

#tel{
	text-align: right;
	margin-right: 0% !important;
	padding: 0;
}
.tel{
	text-align: right;
	margin-right: 0% !important;
	padding: 0;
}


.phones{
	color: #FFDA00;
	font-size: 1.7em;
	font-family: 'Sorce Sans Pro', sans-serif;
	display: inline-block;
	padding: 10px;
	margin-bottom: 0px;
}


.title-form{
	font-weight: bold;
	color: #111842;
}

#language{
	color: rgba(245, 245, 245, 0.71);
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 30px;
}
#smol{
	width: 40%;
	display: inline;
	margin-right: 10px;
}



/* queries for mobile */

@media only screen and (max-width: 767px){

	#reservation-form{
		background: linear-gradient(to bottom, #111842 85%, white 15%);
		margin-bottom: 8em;

    }
	
	.nav-bottom{
		display: none;
	}

	.navbar-inverse .main-menu-items > li > a{
		font-size: 1.2em;
		padding-left: 11px;
		line-height: 8px;
	}
    .logo{
    	padding-left: 5%;
    }

    .usa{
    	display: none;
    }

	.logo img{
	    margin-top: 0%;
	    margin-left: 3%;
	    margin-bottom: 0%;
	}

	.nav-top{
		text-align: left !important;
		margin: 0;
		padding: 9px;
	}

	.phones{
		display: inline !important;
		margin-right: 7%;
		padding: 0% !important;
		font-size: .9em !important;
	}

	.phone-2{				
		line-height: 0px;
	}
	.tel{
      padding: 0;
      padding-left: 20px !important;
	}

    .promos{
    	text-align: center;
    }
    
    .title-mobil{
    	padding-bottom: 20% !important;
    }


	.footer-menu{
	  font-size: 1em !important;
	}

	#yellow-text{
		font-size: 1.5em !important;
	}

	#footer-bottom{
		padding-bottom: 15% !important;
    }

    #price{
		font-size: 1em;
		padding: 10% 0;
	}

	#orange{
		font-size: 1em;
	}

	#circle{
		display: none;
	}

	#circle-1{
		display: none;
	}

	#right-img{
		margin-right: 0;
		float: left;
	}
}


@media only screen and (max-width: 1464px) and (min-width: 768px){
  .navbar-inverse .main-menu-items > li > a {
	font-size: 1.5em;
    padding-left: 1vw;
  }
}  

@media only screen and (max-width: 991px) and (min-width: 768px){
	#price{
		font-size: 1em;
	}

	#orange{
		font-size: 1.5em;
	}


}

@media only screen and (max-width: 1199px) and (min-width: 992px){
	#price{
		font-size: 1.5em;
	}

	#orange{
		font-size: 2em;
	}
}



/* general */

h1{
	font-size: 3em;
	color: #333333
}

.content{
	width: 80%;
}

/* Footer */
.foot{
	width: 80%;
}
#footer{
	background-color: #111842;
	background-repeat: no-repeat;
	background-size: cover;

}

p a{
	color: white;
}
.footer-menu {
  padding-top: 6%;
  color: white;
  font-size: 14pt;
  margin: 0px 0 3px;
}

#yellow-text a{
	color: #FFDA00;
	font-size: 17pt;
	font-weight: 500;
}

#yellow-text{
	color: #FFDA00;
	font-size: 17pt;
	font-weight: 500;
}
#footer-bottom{
	padding-bottom: 5%;
}

.right{
	color: white;
	font-size: 18px;
	padding-top: 15%;
}

.fa-stack{
    padding-top: 12%;
    color: white;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


/* reservation-form */

.linearback{
	    background: linear-gradient(to bottom, #111842 75%, white 25%);
}

.checkbx{
	padding-top: 5%;
}

.form-control{
	
}

.nav-content{
	width: 80%;
}

.nav-tabs > li{
	width: 20%;
}

.search-eng{
	padding: 3%;
	background-color: white;
	box-shadow: 1px 1px 6px #888888;
}

.btn-info{
	width: 100%;
	background-color: red;
	color: white;
	height: 50px;
    font-weight: 700;
    font-size: 1.2em;
}

.panel{
	background-color: transparent;
	border: none;
}

.tab-content{
	padding: 3%;
}

.catch-eye{
	font-size: 3em;
    color: white;
    padding: 10%;
}

.brand-txt{
	color: #FFDA00;
}

.panel-default>.panel-heading{
	background-color: transparent;
	border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus{
	background-color: transparent;
	border: 1px solid transparent;
    color: white;
    cursor: default;
    text-align: center;
} 


.nav-tabs>li.active>a:after {
	content : "";
	  position: absolute;
	  left    : 25%;
	  top  : 100%;
	  height  : 3px;
	  width   : 50%;  /* or 100px */
	  border-top:3px solid #FFDA00;
}

.nav-tabs>li.active>a:hover{
	background-color: transparent;
	border: 1px solid transparent;
    color: white;
    cursor: default;
    text-align: center;
}  

.nav-tabs>li>a{
	background-color: transparent;
	border: 1px solid transparent;
    color: white;
    cursor: default;
    text-align: center;
} 

.nav-tabs>li>a:hover{
	background-color: transparent;
	border: 1px solid transparent;
    color: white;
    cursor: default;
    text-align: center;
} 

.nav-tabs>li>a:hover:after{
	content : "";
	  position: absolute;
	  left    : 25%;
	  top  : 100%;
	  height  : 3px;
	  width   : 50%;  /* or 100px */
	  border-top:3px solid #FFDA00;
}

.nav-tabs{
	border-bottom: 1px solid #FFDA00;
}

.whiteback{
	background-color: white;
}


.fa-stack a{
    padding-top: 12%;
    color: white;
}

.prev-step{
	color: white;
    background-color: #00aae4;
    border: none;
    border-radius: 0;
}
.prev-step:hover{
	color: white;
    background-color: red;
    border: none;
    border-radius: 0;
}

.next-step{
	color: white;
    background-color: #00aae4;
    border: none;
    border-radius: 0;
}

.next-step:hover{
	color: white;
    background-color: red;
    border: none;
    border-radius: 0;
}

/* second step */
.back{
	background-color: white;
	padding: 5%;
}

.box{
	padding: 2% 0 2% 10%;
    color: #222222;
    background-color: #e8e7e3;
}

.place{
	font-size: 1.2em;
    color: #666666;
}

.city{
	font-size: 2em;
    color: #111842;
}

.date{
	font-size: 2em;
    color: red;
}

.lil-price{
    width: 40%;
    z-index: 2;
    border-radius: 55%;
    text-align: center;
    font-size: 1.5em;
    padding: 16% 0;
    line-height: 1;
    position: relative;
    background: #111842;
    color: white;
}

.lil-blue{
    width: 72%;
	    z-index: 0;
	    border-radius: 50%;
	    text-align: center;
	    font-size: 1.8em;
	    padding: 27% 0;
	    line-height: 1;
	    position: relative;
	    background: #00aae4;
	    color: white;
	    margin-left: 19%;
	    margin-top: -25%;
  
}

.lil-blue p{
	margin: 1%;
}

.btn-prepago{
	
}


.lil-jeep{
	position: relative;
	margin-top: -20%;
}

.lil-jeep img{
    width: 80%;
    margin-left: 10%;
}

#blue-md{

  background-image: url('../images/fondos/blue-sm.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5%;
}  

.blue-title{

}

.blue-light{

}





















